:root {
  // fonts
  --font-family: "Roboto", sans-serif;

  // colors
  --color-primary: #3b4044; // color-2
  --color-accent: #ffffff; //
  --color-secondary: #333333;
  --color-gray: #7b8084; // color-3
}
