@use "../helpers/func" as *;
@use "../helpers/media" as *;

.swiper-button-next,
.swiper-button-prev {
  display: flex;
  justify-content: center;
  align-items: center;
  width: rem(32);
  height: rem(32);
  border-radius: 50%;
  background-color: var(--color-gray);
  background-repeat: no-repeat;
  background-position: center;

  @include mobile {
    width: rem(24);
    height: rem(24);
  }
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: 0;
}

.swiper-button-next:after, .swiper-button-prev:after {
  display: none;
}

.swiper-button-next {
  background-image: url('data:image/svg+xml,<svg width="8" height="15" viewBox="0 0 8 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.7295 7.72938L0.865831 14.593C0.768247 14.684 0.639178 14.7335 0.505817 14.7311C0.372455 14.7288 0.245212 14.6747 0.150897 14.5804C0.0565811 14.4861 0.00255528 14.3589 0.000202269 14.2255C-0.00215074 14.0921 0.0473527 13.9631 0.138283 13.8655L6.63732 7.3656L0.138283 0.865709C0.0473527 0.768125 -0.00215074 0.639056 0.000202269 0.505694C0.00255528 0.372332 0.0565811 0.24509 0.150897 0.150774C0.245212 0.0564583 0.372455 0.00243321 0.505817 8.02001e-05C0.639178 -0.00227281 0.768247 0.04723 0.865831 0.13816L7.7295 7.00183C7.8259 7.09835 7.88004 7.22918 7.88004 7.3656C7.88004 7.50202 7.8259 7.63285 7.7295 7.72938Z" fill="white" /></svg>');

  @include mobile {
    background-image: url('data:image/svg+xml,<svg width="7" height="13" viewBox="0 0 7 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.67936 6.67936L0.748104 12.6106C0.663777 12.6892 0.552242 12.732 0.436997 12.7299C0.321752 12.7279 0.211795 12.6812 0.130292 12.5997C0.0487892 12.5182 0.00210267 12.4082 6.93042e-05 12.293C-0.00196406 12.1778 0.0408144 12.0662 0.119392 11.9819L5.73555 6.365L0.119392 0.748104C0.0408144 0.663777 -0.00196406 0.552241 6.93042e-05 0.436996C0.00210267 0.321752 0.0487892 0.211795 0.130292 0.130292C0.211795 0.0487886 0.321752 0.00210267 0.436997 6.93051e-05C0.552242 -0.00196406 0.663777 0.0408139 0.748104 0.119391L6.67936 6.05064C6.76266 6.13405 6.80945 6.24712 6.80945 6.365C6.80945 6.48288 6.76266 6.59595 6.67936 6.67936Z" fill="white" /></svg>');
  }
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-prev {
  background-image: url('data:image/svg+xml,<svg width="8" height="15" viewBox="0 0 8 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.72841 13.8414C7.7789 13.8884 7.8194 13.9451 7.84748 14.0082C7.87557 14.0712 7.89067 14.1393 7.89189 14.2083C7.89311 14.2773 7.88041 14.3458 7.85457 14.4098C7.82872 14.4738 7.79025 14.5319 7.74146 14.5807C7.69266 14.6295 7.63453 14.668 7.57055 14.6938C7.50656 14.7196 7.43802 14.7323 7.36902 14.7311C7.30002 14.7299 7.23198 14.7148 7.16894 14.6867C7.10591 14.6586 7.04917 14.6181 7.00213 14.5676L0.150408 7.71592C0.0541752 7.61957 0.00012207 7.48896 0.00012207 7.35278C0.00012207 7.2166 0.0541752 7.08599 0.150408 6.98964L7.00213 0.137919C7.09954 0.0471478 7.22839 -0.00226886 7.36152 8.00605e-05C7.49465 0.00242898 7.62167 0.0563601 7.71582 0.150512C7.80997 0.244663 7.8639 0.371684 7.86625 0.504814C7.8686 0.637943 7.81918 0.766788 7.72841 0.864202L1.24069 7.35278L7.72841 13.8414Z" fill="white" /></svg>');
  left: 0;

  @include mobile {
    background-image: url('data:image/svg+xml,<svg width="7" height="13" viewBox="0 0 7 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.67842 11.961C6.72205 12.0017 6.75704 12.0507 6.78131 12.1052C6.80558 12.1597 6.81863 12.2185 6.81969 12.2781C6.82074 12.3377 6.80977 12.3969 6.78744 12.4522C6.7651 12.5075 6.73186 12.5578 6.68969 12.5999C6.64752 12.6421 6.59729 12.6753 6.542 12.6977C6.4867 12.72 6.42748 12.731 6.36785 12.7299C6.30823 12.7289 6.24942 12.7158 6.19495 12.6916C6.14048 12.6673 6.09145 12.6323 6.0508 12.5887L0.12987 6.66773C0.0467101 6.58447 0 6.4716 0 6.35392C0 6.23624 0.0467101 6.12338 0.12987 6.04011L6.0508 0.119183C6.13498 0.0407428 6.24632 -0.00196064 6.36137 6.91845e-05C6.47641 0.00209901 6.58618 0.0487037 6.66754 0.130065C6.7489 0.211426 6.7955 0.321192 6.79753 0.436236C6.79956 0.55128 6.75686 0.662621 6.67842 0.746802L1.07204 6.35392L6.67842 11.961Z" fill="white" /></svg>');
  }
}

:root {
  --swiper-pagination-bottom: 0;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bullet-size: 10px;
}

.swiper-pagination {
  display: flex;
  justify-content: center;
}

.swiper-pagination-bullet {
  border: 1px solid var(--color-primary);
  background: none;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: var(--color-primary);
}
